body {
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-stretch: normal;
    font-size: 140%;
    line-height: normal;
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #FBF4F4;
	background-color: #E2DADA;
	margin-top: 1%;
}

@media (min-width : 320px) {
	body {
		margin: 0;
		background-color: #D24B4B;
	}

	.main {
		box-shadow: none !important;
		border: none !important;
		margin-bottom: 0 !important;
	}

	.logo {
		display: none;
	}
}

@media (min-width : 480px) {
	body {
		margin: 0;
		background-color: #D24B4B;
	}

	.main {
		box-shadow: none !important;
		border: none !important;
		margin-bottom: 0 !important;
	}

	.logo {
		display: inline-block;
	}
}

@media (min-width : 768px) {
	body {
		background-color: #E2DADA;
		margin-top: 1%;
	}

	.main {
		border-style: solid !important;
		border-width: 1px !important;
		border-color: #BF4545 !important;
		box-shadow: 0px 0px 20px 0px #343434 !important;
		margin-bottom: 1% !important;
	}

	.logo {
		display: inline-block;
	}
}

@media (min-width : 992px) {
	body {
		background-color: #E2DADA;
		margin-top: 1%;
	}

	.main {
		border-style: solid !important;
		border-width: 1px !important;
		border-color: #BF4545 !important;
		box-shadow: 0px 0px 20px 0px #343434 !important;
		margin-bottom: 1% !important;
	}

	.logo {
		display: inline-block;
	}
}

@media (min-width : 1200px) {
	body {
		background-color: #E2DADA;
		margin-top: 1%;
	}

	.main {
		border-style: solid !important;
		border-width: 1px !important;
		border-color: #BF4545 !important;
		box-shadow: 0px 0px 20px 0px #343434 !important;
		margin-bottom: 1% !important;
	}

	.logo {
		display: inline-block;
	}
}


.my-input,
.textarea {
	color: #D24B4B;
	border: none;
	background-color: #FBF4F4;
}

.my-input:focus,
.textarea:focus {
	outline: 0px;
}

.my-input {
	margin-left: 11pt;
}

.textarea {
	resize: vertical;
}

.my-table {
	display: table;
}

.my-table-head,
.my-table-row {
	display: table-row;
}

.my-table-row {
	font-weight: normal;
	font-size: 110%;
}

.my-table-cell {
	display: table-cell;
	border-style: solid;
	border-width: 1px;
	border-radius 0;
	border-color: #FCA3A3;
	border-top: none;
	padding-left: 5pt;
}

.main {
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #BF4545;
	background-color: #D24B4B;
	padding-bottom: 1%;
	box-shadow: 0px 0px 20px 0px #343434;
}

.head {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-color: #FCA3A3;	
}

.separator {
	margin: 2%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-color: #FCA3A3;
	right: 2%;
	height: 0;
}

.table-div {
	padding-left: 0;
}

.main-title,
.secondary-title {
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-stretch: normal;
    line-height: normal;
    font-family: 'Roboto Condensed', sans-serif;
}

.secondary-title {
	font-weight: normal;
	margin-bottom: -10pt;
	font-size: 200%;
}

.main-title {
	font-weight: bold;
	margin-top: 0;
	font-size: 350%;
}

.title {
	margin-bottom: 1%;
	text-align: left;
	display: inline-block;
}

.logo {
	margin-top: -38pt;
	margin-left: 0;
	margin-right: 5pt;
	padding: 0;
	vertical-align: middle;
}

.font-light {
	font-weight: normal;
	font-size: 110%;
	margin-bottom: 0;
}

.no-lateral-border {
	border-right: none;
	border-left: none;
}

.right-border {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #FCA3A3;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.invisible {
	display: none;
}

.error-message {
	margin-left: 5pt;
	font-weight: normal;
}

.error-input {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 5px 0px #D28E8E;
}