<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<title>Generador de códigos compactos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/my-styles.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700" rel="stylesheet">
	</head>

	<body ng-controller="controller">
		<div class="col-md-4 col-lg-3 col-sm-1 col-xs-0"></div>

		<div class="col-md-4 col-lg-6 col-sm-10 col-xs-12 main" ng-cloak>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<img class="logo" src="images/logo.png"/>
				<div class="title">
					<h1 class="secondary-title">CODIFICADOR</h1>
					<h1 class="main-title"> HUFFMAN</h1>
				</div>

			</div>



			<label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">TEXTO A CODIFICAR:</label>
			<textarea class="col-xs-12 col-sm-12 col-md-12 col-lg-12 textarea" maxlength="{{constantsModel.sourceMaxLength}}" rows="6" ng-model="source.text" ng-change="textHasChanged();"></textarea>

			<!--**********************************************SEPARADOR************************************************-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separator"></div>

			<label for="inputR" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">CANTIDAD DE SÍMBOLOS DEL CÓDIGO (r): </label>
			<input id="inputR" type="number" class="col-xs-5 col-sm-3 col-md-3 col-lg-2 my-input" ng-class='{"error-input": errorMessage != ""}' ng-model="code.r" ng-change="rHasChanged();"/>
			<span class="error-message">  {{errorMessage}}</span>

			<!--**********************************************SEPARADOR************************************************-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separator" ng-class='{"invisible": code.codedText == ""}'></div>

			<div class="my-table col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class='{"invisible": code.codedText == ""}'>

				<div class="my-table-head">
					<div class="my-table-cell head">
						<label>SÍMBOLO</label>
					</div>
					<div class="my-table-cell head no-lateral-border">
						<label>PROBABILIDAD</label>
					</div>
					<div class="my-table-cell head">
						<label>PALABRA CÓDIGO</label>
					</div>
				</div>

				<div class="my-table-row" ng-repeat="symbol in source.symbols">

					<div class="my-table-cell">
						{{symbol.symbol}}
					</div>

					<div class="my-table-cell no-lateral-border">
						{{symbol.probability}}
					</div>

					<div class="my-table-cell">
						{{symbol.codeWord}}
					</div>

				</div>

			</div>

			<!--**********************************************SEPARADOR************************************************-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separator"></div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-div">
				<label class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-class='{"invisible": code.codeAlphabet.length == 0}'>ALFABETO CÓDIGO:</label>
				<label class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-class='{"invisible": code.codedText == ""}'>ENTROPÍA:</label>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-div">			
				<p class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-light" ng-class='{"invisible": code.codeAlphabet.length == 0}'> { {{code.codeAlphabet.join(", ")}} }</p>
				<p class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-light" ng-class='{"invisible": code.codedText == ""}'>{{source.entropy}}</p>
			</div>

			<!--**********************************************SEPARADOR************************************************-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separator" ng-class='{"invisible": code.codedText == ""}'></div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-div" ng-class='{"invisible": code.codedText == ""}'>
				<label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">LONGITUD MEDIA DEL CÓDIGO (L):</label>
				<label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">RENDIMIENTO DEL CÓDIGO:</label>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-div" ng-class='{"invisible": code.codedText == ""}'>
				<p class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-light">{{code.L}}</p>
				<p class="col-xs-6 col-sm-6 col-md-6 col-lg-6 font-light">{{code.preformance}}</p>
			</div>

			<!--**********************************************SEPARADOR************************************************-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separator" ng-class='{"invisible": code.codedText == ""}'></div>

			<label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class='{"invisible": code.codedText == ""}'>TEXTO CODIFICADO:</label>
			<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 font-light" ng-class='{"invisible": code.codedText == ""}'>{{code.codedText}}</p>



		</div>

		<div class="col-md-4 col-lg-3 col-sm-1 col-xs-0"></div>


		<script src="js/angular.min.js"></script>
		<script src="js/module.js"></script>
		<script src="model/constantsModel.js"></script>
		<script src="model/messagesModel.js"></script>
		<script src="model/SymbolModel.js"></script>
		<script src="model/CodeModel.js"></script>
		<script src="model/SourceModel.js"></script>
		<script src="services/sourceService.js"></script>
		<script src="services/entropyService.js"></script>
		<script src="services/symbolsGeneratorService.js"></script>	
		<script src="services/compactCodeGeneratorService.js"></script>
		<script src="controllers/controller.js"></script>
	</body>

</html>